@(list: models.cockpit.CockpitList, context: play.api.libs.json.JsObject)

@main("Cockpit list") {

    <h1>Listing of @(context \ "name")</h1>

    <table class="table table-striped">
        @*titles*@
        <thead>
        <tr>
        @for(t <- list.titles) {
            <th>@t</th>
        }
        </tr>
        </thead>

        @*elements*@
        <tbody>
        @for(element <- list.elements) {
            <tr>
            @for(content <- element.getAttributeList(list.titles)) {
                <td>@content</td>
            }
            </tr>
        }
        </tbody>
    </table>

}
