@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" src="/cockpit/static/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional Bootstrap theme -->
        <link rel="stylesheet" src="/cockpit/static/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/cockpit/static/jquery/1.11.0/jquery-1.11.0.min.js"></script>
        <!-- Latest compiled and minified Bootstrap JavaScript -->
        <script src="/cockpit/static/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    @content
    </body>
</html>
