@import _root_.helper.General
@import play.api.Play
@import sys.process.stringSeqToProcess
@import play.api.Play.current

@main("Cameo") {

    <strong>Cameo API</strong><br>
    <a href="http://docs.cameo.apiary.io/">Doku</a>
    <p>Application mode is: @{Play.mode}</p>
    <p>
        CameoServer: @{General.getAppVersion}<br>
        Play Framework: @{play.core.PlayVersion.current}<br>
        Scala: @{play.core.PlayVersion.scalaVersion}<br>
        Sbt: @{play.core.PlayVersion.sbtVersion}<br>
    </p>


}
